<div class="collection-card">
    <div class="collection-card__image">
      <img src="/assets/{{ collection.image }}" alt="{{ collection.title }}" width="" height="">
      <h3>{{ collection.title }}</h3>
    </div>
</div>
