<div class="footer-logo">
    <div class="footer-logo__image">
        <div class="footer-logo__logo">{% render 'logo' %}</div>
        <h2>{{ text }}</h2>
    </div>
    <div class="footer-logo__copyright">
        <p>© 2024, Shuffle.store Operated by<br class="movil"> Studio Plaid. Need help?<br class="movil"> Email support@shuffle.store</p>
    </div>
</div>
