<section class="header">
    <div class="header__brand">
        <img src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/all-2/menu-qa3zudrktsmphtfaoddgvb.png/menu-iaoxqnpyjdkokz13yxzrwh.png?_a=DATAg1AAZAA0" width="35px" height="35px">
        <div class="header__logo">{% render 'logo' %}</div>
        <h3 class="movil">SHUFFLE</h3>
        <h2>Store</h2>
    </div>
    <div class="header__payment movil">
        <p>We Accept</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/64px-Bitcoin.svg.png?20140331024207" width="25px" height="25px">
        <img src="https://cdn.worldvectorlogo.com/logos/ethereum-eth.svg" width="25px" height="25px">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Litecoin.svg" width="25px" height="25px">
        <img src="https://cdn-icons-png.flaticon.com/512/825/825445.png" width="25px" height="25px">
        <img src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/vectors/usdc-fpxuadmgafrjjy85bgie5.png/usdc-kksfxcrdl3f9pjx0v6jxxp.png?_a=DATAg1AAZAA0" width="25px" height="25px">
    </div>
    <div class="header__categories">
        <h5 class="movil"><a href="#products">All Products</a></h5>
        <h5 class="movil"><a href="#collections">Collections</a></h5>
        <button><img
        src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/all-3/shopping-cart-9xhllmo2cb79djc9j7b5kb.png/shopping-cart-pe974q2wd8bzu5cueg3qr.png?_a=DATAg1AAZAA0"
        alt="" width="" height=""></button>
    </div>
</section>
