<section class="latest-collection" id="collections">
  <div class="latest-collection__title">
    <div class="latest-collection__icon">{% render 'star' %}</div>
    <h1 class="latest-collection__text">{{ settings.latest-collection.settings.heading }}</h1>
    <div class="latest-collection__icon">{% render 'star' %}</div>
  </div>
  <div class="latest-collection__content">
    <div class="latest-collection__content-flexible">
      {% for collection in settings.latest-collection.collections limit: 2 %}
        {% render 'collection-card', collection: collection%}
      {% endfor %}
    </div>
    {% render 'collection-card', collection: settings.latest-collection.collections[2] %}
  </div>
</section>
